<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="/stylesheets/design.css">
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700&display=swap" rel="stylesheet">

    <title>Hello, world!</title>
</head>

<body>
    <div id="search1">
        <h1 class="text-center">Search Your Movie</h1>
        <form action="/results" method="Get" class="justify-content-center d-flex">
            <input type="text" name="search" class="form-control w-25 mr-2" placeholder="Enter Movie">
            <button class="text-center btn btn-success">Search</button>
        </form>
    </div>
</body>

</html>